div {
    body {
    background-color: midnightblue;
    text-align: center;
    font-style:lightpink;
}
}

.main section {
    border: 5px dashed mediumaquamarine;
    text-align: Center;
    font-size: 30px;
}